.user-profile {
    background-color: #eee;
    padding: 2em 0;
    width: 100%;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.post-item {
    background-color: #fff;
    overflow: hidden;
    width: 30em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow: 0 0 0.2em 0.1em #ddd;
    justify-content: space-between;
       
}

.user-info-wrapper {
    display: flex;
    gap: 1em;
    padding: 0.5em 1em 0.5em 1em;
    align-items: center;
    justify-content: space-between;
}

.user-img {
    width: 7em;
    height:7em;
    border-radius: 40px;
}

.user-img:hover {
    border-radius: 0px;
  transform: scale(1.4); 
}
.user-cover {
    width: 30em;
    height: 10em;
}
.username-profile {
    font-size: 0.9em;
    font-weight: 700;
}

.cover-profile {
    font-size: 1.0em;
    font-weight: 700;
}


.posted-user {
    font-size: 0.8em;
   
}

.edit {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    color: #585858;
}

.edit-img {
    width: 30px;
    margin-top: 8px;
}

.content-description {
    padding: 0em 1em 0.5em 1em;
    font-size: 0.8em;
    text-align: justify;
    text-indent: 2em;
}

.userprofile-input {
    font-size: 0.8em;
    font-weight: 600;
    border: 1px solid #aaa;
   
}

.name-input {
    font-size: 0.8em;
    font-weight: 600;
    border: 1px solid #aaa;
    width: 70%;
}

.name-input-error {
    font-size: 0.8em;
    font-weight: 600;
    border: 1px solid #a10000;
    width: 70%;
}

.error-message {
    color: #a10000;
    font-size: 0.9em;
    text-align: left;
    padding-left: 0.2em;
    margin-top: 0.2em;
}
 .userprofile-li {
    list-style-type:none;
    padding: 0em 1em 0em 1em;
    }

 .userprofile-fieldset {
    width: 90%;
    padding: 0.5em 1em 0.5em 1em;
    border: 2px solid #004aad;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.profile-button {
    background-color: #004aad;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; 
  }

.parent-button{
    text-align: center;
  }

.friend-img {
    width: 1.3em;
    height:1.3em;
    border-radius: 40px;
}

.friend-img:hover {
    border-radius: 0px;
  transform: scale(2.3); 
}