.left-aside {
    margin: 3.5em 0 1em 2em;
    order: 1;
    border-top-right-radius: 0;
    flex: 1 1 200px;
    padding: 0.5em 1em;
    overflow: hidden;
    box-shadow: 0 0 0.5em 0.1em #ccc;
    border-radius: 0.5em;
    background-color: #fff;
    height: 85vh;
    position: sticky;
    top: 3.5em;
}

.topic-heading {
    text-align: center;
    margin-top: 0.5em;
    background-color: #004aad;
    color: #fff;
}

.topics {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topics-text {
    margin-top: 1.5em;
    padding: 0.6em;
    border: 1px dotted #aaa;
    border-radius: 0.3em;
}
