.confrim-unfollow-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 0.5em 0.1em #aaa;
    z-index: 1000;
    padding: 0.5em 1em;
    min-width: 13em;
    border-radius: 0.3em;
}

.confrim-unfollow-section span {
    display: none;
}

.unfollow-text {
    margin-bottom: 0.5em;
}

.unfollow-section-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 0.3em;
}

.confirm-button,
.cancel-button {
    padding: 0.1em 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.confirm-button {
    background-color: #004aad;
    color: #fff;
}

.cancel-button {
    background-color: #aaa;
}

.confirm-button:hover,
.cancel-button:hover {
    border-radius: 0;
}
