.app-header a:visited {
    color: #fff;
}

.app-header {
    background-color: #004aad;
    padding: 0.5em 1em;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-heading {
    font-size: 1.5em;
}

.logo-heading:hover .logo-text {
    text-decoration: underline;
}

.logo-heading .logo-text {
    text-decoration: none;
    color: #fff;
}

.search-form input,
.search-form button {
    padding: 0.3em 0.5em;
    border: 0;
    border-radius: 0.3em;
}

.search-form input {
    margin-right: 0.5em;
}

.user {
    display: flex;
    gap: 0.5em;
}

.guest {
    display: flex;
    gap: 0.5em;
}

.profile {
    display: flex;
    gap: 1em;
}

.guest > * {
    text-decoration: none;
}

.profile a:hover {
    text-decoration: underline;
}
