.backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.app-header a:visited {
    color: #fff;
}

.app-header {
    background-color: #004aad;
    padding: 0.1em 1em;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo-image {
    max-width: 30px;
    height: 30px;
    margin-right: 1em;
}

.logo-heading {
    font-size: 1.2em;
    margin-right: auto;
}

.logo-heading:hover .logo-text {
    text-decoration: underline;
}

.logo-heading .logo-text {
    text-decoration: none;
    color: #fff;
}


.search-form {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-input-wrapper {
    display: flex;
    position: relative;
}

.search-input-cover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.search-input-wrapper:hover,
.search-form button:hover {
    /* filter: drop-shadow(0 0 0.1em #eee); */
    filter: contrast(0.9);
}

.search-form input,
.search-form button {
    padding: 0.2em 0.3em;
    border: 0;
    border-radius: 0.3em;
    cursor: pointer;
}

.search-form input:disabled {
    background-color: #fff;
}

.search-form input {
    margin-right: 0.5em;
}

.user {
    display: flex;
    gap: 0.8em;
}

.user .menu {
    list-style: none;
    position: relative;
}

.user .menu:hover {
    filter: brightness(90%);
    position: relative;
    cursor: pointer;
}

.user .menu img {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.guest {
    display: flex;
    gap: 0.5em;
    font-size: 0.8em;
    align-items: center;
}

.profile {
    display: flex;
    gap: 1em;
    font-size: 1.5em;
    margin-right: 1.2em;
}

.guest > * {
    text-decoration: none;
}

.profile a:hover {
    text-decoration: underline;
}

.notifications-count-wrapper {
    background-color: red;
    width: 1.2em;
    height: 1.3em;
    border-radius: 50%;
    font-size: 0.5em;
    position: absolute;
    bottom: 0.4em;
    left: 0.9em;
}

.user-menu {
    padding: 0.5em 0.8em;
    width: 15em;
    position: fixed;
    top: 3em;
    right: 0.7em;
    background-color: #fff;
    color: #000;
    border-radius: 0.5em;
    box-shadow: 0 0 0.2em 0.1em #ccc;
    z-index: 50;
}

.user-info,
.logout {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em 0.8em;
    border-radius: 0.3em;
}

.user-info {
    color: #000;
}

.logout > * {
    color: #000;
}

.user-info,
.logout a {
    text-decoration: none;
}

.user-menu .user-info:visited,
.user-menu .logout a:visited {
    color: #000;
}

.user-info:hover,
.logout:hover {
    background-color: #eee;
}

.user-menu img {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.logout {
    cursor: pointer;
}

.logout i {
    width: 1.5em;
}


