.post-item {
    background-color: #fff;
    width: 30em;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow: 0 0 0.2em 0.1em #ddd;
}

.content-description,
.likes {
    padding: 0 1em 0.5em 1em;
    font-size: 0.9em;
}

.media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 0.5em;
}

.media:hover {
    cursor: pointer;
    filter: brightness(105%);
}

.multi-media {
    position: relative;
}

.media-backdrop {
    display: flex;
    position: absolute;
    bottom: 0.4em;
    right: 0;
    width: 50%;
    height: 8.47em;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.media-backdrop:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.with-two-files ul {
    display: flex;
}

.with-two-files ul li {
    list-style: none;
    flex: 1 1 200px;
    margin-bottom: 0.5em;
}

.with-two-files ul li img {
    height: 100%;
}

.with-two-files ul li img:hover {
    cursor: pointer;
    filter: brightness(105%);
}

.files {
    display: flex;
    flex-wrap: wrap;
}

.files .file:nth-of-type(1) img {
    height: 100%;
}

.files .file:nth-of-type(1) {
    margin: 0 auto;
}

.files .file:nth-of-type(2),
.files .file:nth-of-type(3) {
    flex: 1 1 200px;
}

.files .file:nth-of-type(2) img,
.files .file:nth-of-type(3) img {
    aspect-ratio: 16/9;
}

.files .file {
    list-style: none;
    height: auto;
}

.file:hover {
    cursor: pointer;
    filter: brightness(105%);
}

.likes {
    display: flex;
    justify-content: space-between;
    color: #636363;
}

.likes-count {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.likes-count i {
    color: #369;
}

.likes-count i,
.likes .comments-count {
    padding-right: 0.2em;
}

.comments-count {
    cursor: pointer;
}

.comments-count:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.buttons > * {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    padding: 0 2em 0 2em;
}

.like-button-liked {
    color: #369;
}

.like-button,
.comment-button-wrapper,
.comment-button {
    color: #797979;
}

.comment-button {
    text-decoration: none;
}

.like-button:hover,
.like-button-liked:hover,
.comment-button-wrapper:hover {
    background-color: #eee;
}

.comments {
    padding: 1em 1em 0.5em 1em;
    position: relative;
}

.comment {
    list-style: none;
    word-break: break-all;
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    position: relative;
}

.comment:not(:last-child) {
    margin-bottom: 0.5em;
}

.add-comment {
    display: flex;
    align-items: center;
    padding: 0.2em 1em 0.5em 1em;
    gap: 0.2em;
}

.comment-area {
    position: relative;
    width: 100%;
}

.comment-form {
    display: flex;
    gap: 0.5em;
    align-items: center;
    position: relative;
}

.emoji-picker-wrapper {
    position: absolute;
    z-index: 20;
    left: 22em;
    bottom: 2.5em;
}

.comment-form i:nth-child(3) {
    color: #ffac33;
    cursor: pointer;
}

.comment-area {
    padding: 0.5em;
    resize: none;
    width: 100%;
    border-radius: 0.4em;
    border: 0;
    background-color: #eee;
}

.comment-user-img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.comments-wrapper {
    display: flex;
    gap: 1em;
}

.comment-user-img:hover {
    filter: brightness(115%);
    cursor: pointer;
}

.comment-area .submit-button-error {
    border: 0;
    color: #aaa;
    font-size: 0.8em;
    cursor: no-drop;
}

.comment-area .submit-button {
    border: 0;
    color: #369;
    font-size: 0.8em;
    cursor: pointer;
}
