.load-ellipsis {
    display: inline-block;
    position: relative;
    width: 4em;
    height: 4em;
}

.load-ellipsis div {
    position: absolute;
    top: 2em;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background: #aaa;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.load-ellipsis div:nth-child(1) {
    left: 0.3em;
    animation: load-ellipsis1 0.6s infinite;
}

.load-ellipsis div:nth-child(2) {
    left: 0.3em;
    animation: load-ellipsis2 0.6s infinite;
}

.load-ellipsis div:nth-child(3) {
    left: 2em;
    animation: load-ellipsis2 0.6s infinite;
}

.load-ellipsis div:nth-child(4) {
    left: 3em;
    animation: load-ellipsis3 0.6s infinite;
}

@keyframes load-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes load-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes load-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(1.5em, 0);
    }
}
